@import "tailwindcss";

:root {
  --background: #f3f4f6; /* Light gray background */
  --foreground: #171717;
  --cat-yellow: #FFC500;
  --cat-black: #000000;
  --cat-gray: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-cat-yellow: var(--cat-yellow);
  --color-cat-black: var(--cat-black);
  --color-cat-gray: var(--cat-gray);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
